.container{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    margin: 25px;

}

.pokeImg{
    padding: 25px;
    object-fit: cover;
}

.desc{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}

.pokeId{
    color: gray;
}

.title{
    padding: 10px 0px;
}

.title::first-letter{
    text-transform: capitalize;
}

.types{
    display: flex;
}


.type{
    margin-right: 15px;
    padding: 5px;
    border-radius: 7px;
}

.type::first-letter{
    text-transform: capitalize;
}